.user-display {
  padding: 30px;
  text-align: center;
  display: inline-block;
  /* margin: 0 auto; */
  height: auto;
  width: 100%;
  /* justify-content: space-between; */
}

.user-card {
  display: block;
  background: #eee;
  padding: 30px;
  border-radius: 10px;
  height: 2in;
  width: 2in;
  margin: 20px;
}